<html>
<head></head>
<body>

{% extends 'base.html' %}
{% block body %}

<br><br><br>
<div class='container mx-1'>
<div class="row">
    <div class="col-md-12 col-lg-2"></div>

    <div class="col-md-12 col-lg-6 text-center fs-1">
    <p class = "h2 text-muted">
        Let's share your presence with our digital cards
    </p>
     <p class = "">
        share all your info with just one click and grow your market
    </p>
    
    </div>
    <div class="col-md-12 col-lg-4">
     <img src="static/SVG/watermelon-pack-illustration-18.svg" class="img-fluid shadow-2-strong" alt="..." />
     </div>
</div>
</div>
{% endblock body %}



</html>